/* style.css */
#fadeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1.5s ease;
  pointer-events: none;
}

